<a href="https://colab.research.google.com/github/seidiali21/Excel-Challenge/blob/master/blank_starter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Jovian Commit Essentials
# Please retain and execute this cell without modifying the contents for `jovian.commit` to work
!pip install jovian --upgrade -q
import jovian
jovian.utils.colab.set_colab_file_id('1TVkTIt8Cx-Ib0ymqk8UNlA0lTFVeQz-O')

     |████████████████████████████████| 71kB 2.3MB/s
  Building wheel for uuid (setup.py) ... done

In [2]:
!pip install jovian --upgrade --quiet

In [5]:
name = "seidi mohammad"

In [6]:
age = 38

In [7]:
has_android_phone = "704-957-2140"

In [9]:
person = {
    'name': 'seidi mohammad',
    'age': 38,
    'has_android_phone': '704-957-2140'
}

for key in person:
    print("Key:", key, ",", "Value:", person[key])

Key: name , Value: seidi mohammad
Key: age , Value: 38
Key: has_android_phone , Value: 704-957-2140

In [13]:
print("{} is aged {}, and owns an {}.".format(
    person["name"], 
    person["age"], 
    "has_android_phone" if person["has_android_phone"] else "iPhone"
))

seidi mohammad is aged 38, and owns an has_android_phone.

In [15]:
for value in person.values():
    print(value)

seidi mohammad
38
704-957-2140

In [16]:
for key_value_pair in person.items():
    print(key_value_pair)

('name', 'seidi mohammad')
('age', 38)
('has_android_phone', '704-957-2140')

In [17]:
for key, value in person.items():
    print("Key:", key, ",", "Value:", value)

Key: name , Value: seidi mohammad
Key: age , Value: 38
Key: has_android_phone , Value: 704-957-2140

In [19]:
my_list_fruits = ['apple', 'banana', 'cherry', 'orange', 'avocado', 'bilberry', 'strawberry']

In [20]:
print(my_list_fruits)

['apple', 'banana', 'cherry', 'orange', 'avocado', 'bilberry', 'strawberry']

In [23]:
for fruits in my_list_fruits:
    print('Today is {}'.format(fruits))
    if (fruits == 'apple'):
        print("I don't eat apple on sunday!")
        break

Today is apple
I don't eat apple on sunday!

In [21]:
print("The list has {} elements.".format(my_list_fruits))

The list has ['apple', 'banana', 'cherry', 'orange', 'avocado', 'bilberry', 'strawberry'] elements.

In [24]:
for fruits in my_list_fruits:
    if (fruits == 'apple'):
        print("I don't eat apple on sunday!")
        continue
    print('Today is {}'.format(fruits))

I don't eat apple on sunday!
Today is banana
Today is cherry
Today is orange
Today is avocado
Today is bilberry
Today is strawberry

In [30]:
cost_of_flying_plane = 600

In [31]:
number_of_passengers = 2

In [32]:
price_of_ticket = 185

In [34]:
profit = 100

In [35]:
print('The company makes of a profit of {} dollars'.format(profit))

The company makes of a profit of 100 dollars

In [36]:
tweets = [
    "Wow, what a great day today!! #sunshine",
    "I feel sad about the things going on around us. #covid19",
    "I'm really excited to learn Python with @JovianML #zerotopandas",
    "This is a really nice song. #linkinpark",
    "The python programming language is useful for data science",
    "Why do bad things happen to me?",
    "Apple announces the release of the new iPhone 12. Fans are excited.",
    "Spent my day with family!! #happy",
    "Check out my blog post on common string operations in Python. #zerotopandas",
    "Freecodecamp has great coding tutorials. #skillup"
]

In [38]:
number_of_tweets = 20

In [39]:
happy_words = ['great', 'excited', 'happy', 'nice', 'wonderful', 'amazing', 'good', 'best']

In [40]:
sad_words = ['sad', 'bad', 'tragic', 'unhappy', 'worst']

In [42]:
sample_tweet = tweets[0]

In [43]:
sample_tweet

'Wow, what a great day today!! #sunshine'

In [44]:
is_tweet_happy = False

# Get a word from happy_words
for word in happy_words:
    # Check if the tweet contains the word
    if word in sample_tweet:
        # Word found! Mark the tweet as happy
        is_tweet_happy = True

In [45]:
is_tweet_happy

True

In [48]:
# store the final answer in this variable
number_of_happy_tweets = 0

# perform the calculations here
30/4

7.5

In [49]:
print("Number of happy tweets:", number_of_happy_tweets)

Number of happy tweets: 0

In [50]:
happy_fraction = 35/72

In [51]:
print("The fraction of happy tweets is:", happy_fraction)

The fraction of happy tweets is: 0.4861111111111111

In [52]:
# store the final answer in this variable
number_of_sad_tweets = 0

# perform the calculations here
3*57

171

In [53]:
print("Number of sad tweets:", number_of_sad_tweets)

Number of sad tweets: 0

In [55]:
sad_fraction = 25

In [56]:
print("The fraction of sad tweets is:", sad_fraction)

The fraction of sad tweets is: 25

In [57]:
sentiment_score = 72

In [58]:
print("The sentiment score for the given tweets is", sentiment_score)

The sentiment score for the given tweets is 72